Package: com.highdetalio.SpaceBlueBerry
Name: Space BlueBerry
Version: 1.8
Description: highdetalio's Space BlueBerry
Author: highdetalio <gionata.bottari@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
