Package: com.cj81499.cjLoader
Name: cj Loader
Version: 1.1
Description: cj's Loading Animations
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
