Package: com.cj81499.cjMandolino
Name: cj Mandolino
Version: 1.5
Architecture: iphoneos-arm
Depends: com.anemonetheming.anemone | com.codethemed.iconbundles
Description: cj's Mandolino Icons
Depiction: http://cj81499.github.io/depictions/com.cj81499.cjMandolino/
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Author: cj81499 <cjMakesIcons@gmail.com>
Section: Themes (cj81499)
