Package: com.cj81499.cjMandolino
Name: cj Mandolino
Version: 1.5
Description: cj's Mandolino Icons
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
