Package: com.cj81499.OriginalAnemone
Name: Original Anemone
Version: 1.1
Description: Original Anemone Icon
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.anemonetheming.anemone
Architecture: iphoneos-arm
