Package: com.tokems.Glyphs
Name: Glyphs
Version: 1.27
Description: tokems' Glyphs
Author: tokems <tokems.0@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
