Package: com.cj81499.cjGlyphs
Name: cj Glyphs
Version: 1.48
Description: cj's Glyphs
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard, com.tokems.Glyphs
Architecture: iphoneos-arm
