Package: com.jacopoiuytr.Mandolino
Name: Mandolino
Version: 1.5
Description: jacopoiuytr's Mandolino
Author: jacopoiuytr <jacopocastagno@hotmail.it>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
