Package: com.cj81499.cjOdin
Name: cj Odin
Version: 1.2
Description: cj’s Odin Icons
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
