Package: com.cj81499.BarelyRounded
Name: Barely Rounded Icon Mask
Version: 1.5
Description: Barely Rounded Icon Mask
Author: cj81499 <cjMakesIcons@gmail.com>
Maintainer: cj81499 <cjMakesIcons@gmail.com>
Depends: com.spark.snowboard
Architecture: iphoneos-arm
